<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> -->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
          
        
</head>



<body>
    
    <style>
        body {
            overflow-x: hidden;
            /* Hide horizontal scrollbar */
        }
    </style>



    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: black;">
        <div class="container">
            <a class="navbar-brand" href="/"
                style="color: white; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">
                <img src="/images/MyFitness.png" alt="" width="40" height="40" /> MY FITNESS
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/login" style="color: white; ">Login</a>
                    <a class="nav-link" href="/register" style="color: white; ">Register</a>
                </div>
            </div>
        </div>
    </nav>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">    
    <div id="carouselExampleIndicators" class="carousel slide">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/register"><img src="/images/front 1.png" class="d-block w-100" alt=".." height="600"></a>
            </div>
            <div class="carousel-item">
                <img src="/images/personalt.png" class="d-block w-100" alt="..." height="600">
            </div>
            <div class="carousel-item">
                <img src="/images/Untitled (Banner (Landscape)).png" class="d-block w-100" alt="..." height="600">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

    <br><br>

    <div data-aos="fade-up" data-aos-duration="2000"> <h1  style="margin: 20px; color: black; padding: 0px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
        BEST QUALITY GYMS.</h1></div>
    <h1 data-aos="fade-up" data-aos-duration="2000" style="margin: 20px; color: black; padding: 0px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
        QUALIFIED TRAINERS.</h1>
<br><br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col  mt-5 ms-auto me-auto" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
            <div class="card w-75 h-100 ms-auto me-auto bg-black text-white">
                <img src="/images/Untitled (Banner (Landscape)) (1).png" class="card-img-top" alt="" height="320">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">CARDIO.
                    </h5>
                    <p class="card-text"><br><br></p>
                </div>
            </div>
        </div>
        <div class="col mt-5 ms-auto me-auto" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="500">
            <div class="card w-75 h-100 ms-auto me-auto bg-black text-white">
                <img src="/images/bodybuilding.png" class="card-img-top" alt="" height="320">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">BODY
                        BUILDING.</h5>
                    <p class="card-text"><br><br></p>
                    
                </div>
            </div>
        </div>
        <div class="col  me-auto ms-auto" data-aos="fade-right" data-aos-duration="1000">
            <div class="card w-75 h-100 ms-auto me-auto bg-black text-white">
                <img src="/images/wl.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                        STRENGTH TRAINING.</h5>
                    <p class="card-text"><br><br></p>
                </div>
            </div>
        </div>
        <div class="col  me-auto ms-auto" data-aos="fade-left" data-aos-duration="1000">
            <div class="card w-75 h-100 ms-auto me-auto bg-black text-white">
                <img src="/images/yoga.png" class="card-img-top" alt="" height="320">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">YOGA.
                    </h5>
                    <p class="card-text"><br><br></p>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br>

    <div class="card bg-black me-auto ms-auto" data-aos="zoom-in" data-aos-duration="2000" style="width: 90%;">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card bg-black text-white">

                    <h1 data-aos="fade-up" data-aos-delay="4000" data-aos-duration="2000" class="card-title ms-5 mt-3 mt-5" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">SERVICES.</h1>
                    <p  data-aos="fade-up" data-aos-delay="4000" data-aos-duration="2000"  class="card-text ms-5" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">MY FITNESS GYMS HAVE BEST IN CLASS SERVICES.
                    <li  data-aos="fade-up" data-aos-delay="4000" data-aos-duration="2000" class="card-text ms-5 " style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">CLEAN SHOWER ROOMS.</li>
                    <li  data-aos="fade-up" data-aos-delay="4000" data-aos-duration="2000" class="card-text ms-5 " style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">PERSONALIZED LOCKERS.</li>
                    <li  data-aos="fade-up" data-aos-delay="4000" data-aos-duration="2000" class="card-text ms-5 " style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">SOOTHING STEAM BATHS.</li></p>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-auto mb-auto bg-black">
                    <div data-aos="fade-down" data-aos-delay="4000" data-aos-duration="4000" id="carouselExampleFade"
                        class="carousel slide carousel-fade w-75 h-75 mb-5 me-auto ms-auto mt-5">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/download.jpeg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/locker-room.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/steam room.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>
    <h1 data-aos="fade-up" data-aos-duration="2000" style="margin: 30px; color: black; padding: 0px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:90px;">
    24 <h data-aos="fade-up" data-aos-duration="2000" style="font-size: 60px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">CROSS</h> 7.</h1>
    <h4 data-aos="fade-up" data-aos-duration="2000" style="margin: 30px; margin-bottom: 250px; color: black; padding: 0px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
    NO TIMING RESTRICTIONS. FEEL FREE TO WORKOUT AT ANYTIME.</h4>
    
    <div class="card text-bg-dark" style="margin-bottom: 0%;">
        <img  src="/images/about.jpg" class="card-img" alt="..." width="500" height="700" style="opacity: .2; margin-bottom: 0%;">
        <div class="card-img-overlay">
            <h2 class="card-title ms-2" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">QUICK LINKS.</h2>
            <p class="card-text ms-4 mt-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;" >ABOUT US.</p>
           <a style="text-decoration: none; color: white;" href="/manager_register"><p class="card-text ms-4 mt-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none;" >MANAGER'S REGISTRATION</p></a>
           <a style="text-decoration: none; color: white;" href="/manager_login"><p class="card-text ms-4 mt-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none;" >MANAGER'S LOGIN</p></a> 
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p class="card-text ms-3"><small>&copy;2023 MyFitness. All Rights Reserved</small></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">


    </script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
  </script>


</body>

</html>